@model SeedApp.Models.SectionEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SectionEntry</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departments.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departments.DepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
